<%= form_for(@nestoria_query) do |f| %>
  <% if @nestoria_query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nestoria_query.errors.count, "error") %> prohibited this nestoria_query from being saved:</h2>

      <ul>
      <% @nestoria_query.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :encoding %><br />
    <%= f.text_field :encoding %>
  </div>
  <div class="field">
    <%= f.label :listing_type %><br />
    <%= f.text_field :listing_type %>
  </div>
  <div class="field">
    <%= f.label :place_name %><br />
    <%= f.text_field :place_name %>
  </div>
  <div class="field">
    <%= f.label :price_min %><br />
    <%= f.text_field :price_min %>
  </div>
  <div class="field">
    <%= f.label :price_max %><br />
    <%= f.text_field :price_max %>
  </div>
  <div class="field">
    <%= f.label :bedroom_min %><br />
    <%= f.text_field :bedroom_min %>
  </div>
  <div class="field">
    <%= f.label :bedroom_max %><br />
    <%= f.text_field :bedroom_max %>
  </div>
  <div class="field">
    <%= f.label :has_photo %><br />
    <%= f.check_box :has_photo %>
  </div>
  <div class="field">
    <%= f.label :number_of_results %><br />
    <%= f.text_field :number_of_results %>
  </div>
  <div class="field">
    <%= f.label :page %><br />
    <%= f.text_field :page %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
