<%= form_for(@query) do |f| %>
  <% if @query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@query.errors.count, "error") %> prohibited this query from being saved:</h2>

      <ul>
      <% @query.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :place_name %><br />
    <%= f.text_field :place_name %>
  </div>
  <div class="field">
    <%= f.label :price_min %><br />
    <%= f.text_field :price_min %>
  </div>
  <div class="field">
    <%= f.label :price_max %><br />
    <%= f.text_field :price_max %>
  </div>
  <div class="field">
    <%= f.label :bedroom_min %><br />
    <%= f.text_field :bedroom_min %>
  </div>
  <div class="field">
    <%= f.label :bedroom_max %><br />
    <%= f.text_field :bedroom_max %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
